body {
    margin: 0;
    padding: 0;
}

div.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #DADEE3;
    justify-content: center;
}

header {
    background-color: #DADEE3;
    min-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.1rem rgba(128, 128, 128, 0.326);
}

.clickableItems a {
    color: black;
    /* Set the color to black, or any color you prefer */
}

nav.clickableItems {
    display: flex;
    gap: 1rem;
}

img.nectarLogo {
    margin-left: 1rem;
    margin: 0.5rem
}


.icons {
    margin-right: 1.5rem;
    display: flex;
    gap: 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-height: 2rem;
    min-width: 100px;
    align-self: center;
    justify-content: center;
}

article.chapterHeading {
    display: flex;
    display: inline-flex;
    padding: 1.75rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.chapter {
    color: #222;
    text-align: center;
    font-family: EB Garamond;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.tasteful {
    color: #222;
    text-align: center;
    font-family: EB Garamond;
    font-size: 2.625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.recipes {
    color: #222;
    font-family: Open Sans;
    font-size: 2.625rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.byChef {
    color: #222;
    text-align: center;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.recipeCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-areas: "greenItem greenItem greenItem"
        "purpleItem redItem blueItem";
    /* här kopplar vi in det vi har namngett nedan. I denna area är det 3 items per rad, vid varje upprepning av namn (greenItem) tar det namnivna item upp en fraction, item x upprepning = antal fractions */
}

.recipeCard {
    min-height: 6rem;
    min-width: 6rem;
}

.greenBg {
    background-color: rgb(237, 238, 237);
    grid-area: greenItem;
    /* här namnger vi detta item till greenItem i grid-area */
}

.purpleBg {
    background-color: rgb(237, 238, 237);
    grid-area: purpleItem;
}

.redBg {
    background-color: rgb(237, 238, 237);
    grid-area: redItem;
}

.blueBg {
    background-color: rgb(255, 227, 80, 1);
    grid-area: blueItem;
}

article.product {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    flex-wrap: wrap;
}

/* bild-sidan av komponenten */
figure.product-image {
    margin: 0;
    flex: 3;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsiv-image {
    max-width: 100%;
    height: 100%;
}

/* vita fyrkanten till höger med infotext */
aside.product-info {
    flex: 1;
    min-width: 20rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.rating {
    display: flex;
    gap: 0.2rem;
}

.product-icons {
    display: flex;
    justify-content: space-between;
}

.like-heart {
    display: flex;
    align-self: flex-end;
}

.settings-icon {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.ellipse1 .ellipse2 .ellipse3 {
    height: 0.2rem;
    width: 0.2rem;
}

aside.hero-title h2 {
    color: #222;
    font-family: EB Garamond;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.hero-description {
    color: #222;
    font-family: Open Sans;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0375rem;
}

.loremIpsum {
    color: #222;
    font-family: Open Sans;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
}


aside.product-info button {
    height: 3.5rem;
    background-color: rgba(255, 227, 80, 1);
    appearance: none;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    align-self: flex-end;
    margin-top: auto;
    transition: all 0.3s;
}

aside.product-info button:hover {
    background: #DADEE3;
    color: white;
    cursor: pointer;
}

figure.product-image-small {
    margin: 0;
    flex: 3;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.responsiv-image-small {
    height: 100%;
    width: 100%;
}

.settings-icon-small-card {
    display: flex;
    justify-content: flex-end;
}

.info-text-small-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text h3 {
    color: #222;
    font-family: Open Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.small-card-text p {
    color: #222;
    font-family: Open Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.readers-fav h3 {
    color: #222;
    text-align: center;
    font-family: Lato;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}